 :root {
      --black: #0a0a0a;
      --dark: #111;
      --yellow: #ffcc00;
      --gray: #999;
      font-family: 'Poppins', sans-serif;
    }

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      background: linear-gradient(135deg, var(--black), var(--dark));
      color: white;
      overflow-x: hidden;
    }



    .hero {
      height: 85vh;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 80px;
      flex-wrap: wrap;
    }

    .hero-text {
      max-width: 550px;
    }

    .hero-text h1 {
      font-size: 50px;
      line-height: 1.2;
      color: var(--yellow);
    }

    .hero-text p {
      margin-top: 15px;
      color: var(--gray);
      font-size: 16px;
      line-height: 1.7;
    }

    .hero-img img {
      width: 420px;
      filter: drop-shadow(0 0 40px var(--yellow));
    }

    .btn {
      background: var(--yellow);
      color: #000;
      padding: 14px 28px;
      border: none;
      border-radius: 10px;
      font-weight: 600;
      font-size: 16px;
      margin-top: 30px;
      cursor: pointer;
      transition: 0.3s;
    }

    .btn:hover {
      background: #fff200;
      transform: translateY(-3px);
      box-shadow: 0 8px 20px rgba(255, 255, 0, 0.3);
    }

    .section {
      padding: 100px 80px;
      text-align: center;
    }

    .section h2 {
      font-size: 34px;
      color: var(--yellow);
      margin-bottom: 20px;
    }

    .section p {
      max-width: 700px;
      margin: 0 auto;
      color: var(--gray);
      line-height: 1.8;
    }

    .features {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 70px;
      gap: 40px;
    }

    .feature-box {
      background: rgba(255,255,255,0.05);
      border: 2px solid rgba(255, 204, 0, 0.2);
      width: 280px;
      padding: 30px;
      border-radius: 15px;
      transition: 0.4s;
    }

    .feature-box:hover {
      background: rgba(255, 204, 0, 0.1);
      transform: translateY(-10px);
      box-shadow: 0 0 20px rgba(255, 204, 0, 0.4);
    }

    .feature-box h3 {
      color: var(--yellow);
      margin-bottom: 15px;
      font-size: 20px;
    }

    .feature-box p {
      color: var(--gray);
      font-size: 14px;
      line-height: 1.6;
    }

    footer {
      background: var(--black);
      padding: 50px 0;
      text-align: center;
      color: var(--gray);
      font-size: 14px;
      border-top: 1px solid rgba(255,255,255,0.1);
    }

    @media (max-width: 768px) {
      header {
        padding: 20px 40px;
      }

      .hero {
        flex-direction: column;
        text-align: center;
        padding: 0 40px;
      }

      .hero-text h1 {
        font-size: 38px;
      }

      .hero-img img {
        margin-top: 40px;
        width: 300px;
      }

      .section {
        padding: 70px 30px;
      }

      .features {
        gap: 20px;
      }
    }